/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Colours */
:root {
    --oxford-blue: #002855ff;
    --usafa-blue: #0353a4ff;
    --imperial-red: #eb3e3eff;
    --light-gray: #d6d6d6ff;
    --cultured: #fafafaff;
}

/* General styling */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--oxford-blue);
    color: var(--cultured);
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed;
}

/* Nav */

.navbar {
    background: transparent;
    padding: 5px;
}

@media (min-width: 992px) {
    .navbar {
        padding: 10px 20px;
    }
}

.navbar-brand {
    color: var(--cultured);
    font-weight: 700;
    font-size: 7.2rem;
}

@media (min-width: 992px){
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }
}

.nav-link {
    color: var(--cultured);
    font-weight: 500;
    margin-left: 2.5rem;
    font-size: 2.2rem;
}

.nav-link:hover, .nav-link:focus {
    color: var(--cultured);
    text-decoration: underline;
}

.navbar-toggler {
    background: var(--usafa-blue);
    border: 1px solid rgba(240, 240, 240, 0.5);
    font-size: 2rem;
}

.navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}