/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

/* Colours */
:root {
    --oxford-blue: #002855ff;
    --usafa-blue: #0353a4ff;
    --imperial-red: #eb3e3eff;
    --light-gray: #d6d6d6ff;
    --cultured: #fafafaff;
}

/* General styling */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--oxford-blue);
    color: var(--cultured);
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed;
}

/* Nav */

.navbar {
    background: transparent;
}

.navbar-brand {
    color: var(--cultured);
    font-weight: 700;
    font-size: 7.2rem;
}

@media (min-width: 992px){
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }
}

.nav-link {
    color: var(--cultured);
    font-weight: 500;
    margin-left: 15px;
    font-size: 2.2rem;
}

.navbar-toggler {
    background: var(--cultured);
}